.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

.toolbardemoBasicUsage  md-list-item {
	height: 82px;
}

#refdata-control {
	height: 92px;
    padding-left: 20px;
    padding-top: 14px;
}

#refdata-control md-input-container {
	margin-bottom: 0px;
}

#search-button {
    margin-top: -5px;
}

#namespace input {
	width: 700px
}