<div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" ng-controller="ReferenceDataCtrl as refdata">

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="" sticky> 
	  <div class="container-fluid" >
			<div class="form-group">
			<form class="navbar-form navbar-left" role="filter">
			<label>Filter  :  </label>
			  <div class="form-group">
				<input type="text" class="form-control" ng-model="filter.configName" placeholder="configName" />
				<input type="text" class="form-control" ng-model="filter.configKey" placeholder="configKey" />
				<input type="text" class="form-control" ng-model="filter.configValue" placeholder="configValue" />			
			</div>
			</form>
			</div>
	  </div>
  </md-content>
  
  <div>
 		<table ng-table="refdata.tableParams" class="table table-condensed table-bordered table-striped" show-filter="true"> 
 		    <tr  style="font-size: 80%"" ng-repeat="row in $data"> 
				<td data-title="'Status'" filter="{ status: 'select'}" sortable="'status'" filter-data="refdata.statusValues"><span ng-class="{'label label-warning': row.status == 'out of sync','label label-success': row.status == 'sync'}">{{row.status}}</span></td>
 		        <td data-title="'MappingID'" filter="{ mappingid: 'number'}" sortable="'mappingid'"> 
 		            {{row.mappingid}}  
 		        </td> 
 		        <td data-title="'ReferenceType'" filter="{ referencetype: 'text'}" sortable="'referencetype'"> 
 		            {{row.referencetype}} 
 		        </td> 
 		        <td data-title="'CodeValue'" filter="{ codevalue: 'text'}" sortable="'codeValue'"> 
 		           {{row.codevalue}} 
 		        </td>
 		    </tr>
 		</table>
 		</div>
 	</div>	
</div>